#wrd
{
  font-size: 80px;  
  text-align: center;
  color:aqua;
}
.sept
{
    text-align: center;
    color:greenyellow;
    font-family: monospace;
}
#sem
{
    font-style: oblique;
    text-align: center;
    color: lightcoral;
}